# https://github.com/remix-run/remix/issues/154#issuecomment-978359765
# shamefully-hoist=true

electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
electron_mirror=https://npmmirror.com/mirrors/electron/
registry=https://registry.npmmirror.com

node-linker=hoisted
save-exact=true
